button {
  outline: none;
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:disabled {
  background: #666 !important;
  color: #fff !important;
}

.btn-primary {
  background: #01579b;
  color: white;
}

.btn-second {
  background: #e0e0e0;
  color: black;
}

.btn-alert {
  background: #d71e1e;
  color: white;
}

/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;
}

.btn-primary-ripple:hover {
  opacity: 0.8;
  background: #01579b radial-gradient(circle, transparent 1%, #01579b 1%) center/15000%;
}

.btn-primary-ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}

.btn-second-ripple:hover {
  opacity: 0.8;
  background: #e0e0e0 radial-gradient(circle, transparent 1%, #e0e0e0 1%) center/15000%;
}

.btn-second-ripple:active {
  background-color: #fff;
  background-size: 100%;
  transition: background 0s;
}

.btn-alert-ripple:hover {
  opacity: 0.8;
  background: #d71e1e radial-gradient(circle, transparent 1%, #d71e1e 1%) center/15000%;
}

.btn-alert-ripple:active {
  background-color: #fff;
  background-size: 100%;
  transition: background 0s;
}
